.expanded-card-wrapper{
    height: 40%;
    display: flex;
    flex-direction: row;
    background: right bottom url('../assets/waves.png') rgb(0,49,69);
    background-repeat: no-repeat;
    color: white !important; 
    padding: 20px 70px;
}
.card-img{
    width: 50px;
}
.card-deatils-content{
    height:60%;
}
.btn-div{
    display: flex;
    flex-direction: column;
}
.btn-child{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px white solid;
    border-radius: 1rem;
    margin: 0.6rem;
    padding: 0.3rem 1rem ;
}