.expanded-card-wrapper{
    height: 40%;
    display: flex;
    flex-direction: row;
    background: right bottom url('../assets/waves.png') rgb(0,49,69);
    background-repeat: no-repeat;
    color: white !important; 
    padding: 20px 70px;
}