.form-page {
  background-color: rgb(248, 249, 253);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200vh;

  /* font-size: 1.6rem !important; */
}
.form-page .hackathon-form {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 4rem;
  background-color: #fff;
  width: 70% !important;
  height: 100% !important;
  border-radius: 10px;
  margin-top: 6rem;
}
.form-input {
  margin-bottom: 2rem;
}
.form-heading {
  margin-bottom: 1rem;
}
.input-value {
  width: 100%;
}
