.padding-container {
  padding-left: 7rem !important;
  padding-right: 7rem !important;
}
.menu {
  background-color: rgb(248, 249, 253);
}
.cards-display {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.center-aligned {
  justify-content: center;
}
.left-aligned {
  justify-content: flex-start;
  margin-left: 6.15rem;
}
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.menu-right-child {
  display: flex;
  align-items: center;
}

.menu-btn {
  border: none;
  border-radius: 0 !important;
  text-transform: capitalize !important;
  font-weight: 400 !important;
  font-size: 1.1rem !important;
  margin-right: 1rem !important;
  padding-bottom: 0% !important;
}
.active-btn {
  box-shadow: 0 5px 0 #44924c;
  color: black !important;
}
.inactive-btn {
  box-shadow: none;
  color: gray !important;
  border-bottom: none !important;
}
.search-input {
  border: none;
  outline: none;
}
.search-opt {
  border: 1px solid rgb(78, 77, 77);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 20px;
  background-color: #fff;
}
.sorting-button {
  text-align: center;
  border-radius: 2rem !important;
  padding: 0.6rem 2rem !important;
  margin: 10px 20px !important;
  font-size: 1.1rem;
}
.sorting-button * {
  text-align: left;
  padding: 1rem !important;
}
@media screen and (max-width: 1100px) {
  .cards-display {
    padding: 0 2rem;
    justify-content: stretch;
  }
  .cards-display > div {
    width: 100% !important;
  }
  .menu-bar {
    flex-direction: column;
  }
  .menu-left-child {
    display: flex;
    flex-direction: row;
  }
  .search-opt {
    padding: 0.5rem;
  }
  .search-opt > input {
    width: 120px;
  }
  .card-wrapper {
    margin: 20px auto !important;
    min-width: 100%;
    width: auto !important;
  }
}
