.UploadSubmission {
  height: 40%;
  display: flex;
  flex-direction: row;
  background: right bottom url("../assets/waves.png") rgb(0, 49, 69);
  /* background-color: ; */
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  padding-top: 40px;
  padding-bottom: 40px;
}
.content-wrapper {
  display: flex;
  margin: auto;
  flex-direction: column;
  padding-right: 15%;
}
.content-wrapper h1 {
  margin-bottom: 0rem;
  font-size: 2.5rem;
  font-weight: 600;
}
.content-wrapper p {
  font-size: 1.2rem;
}
.UploadSubmission .content-wrapper button {
  color: white !important;
  text-transform: capitalize;
  font-weight: bold;
  background-color: #44924c;
  margin-top: 2rem;
  border-radius: 0.5rem;
  width: 194px;
  padding: 0.7rem 0.2rem;
}
.UploadSubmission .image-wrapper img {
  height: 300px;
  right: 30;
  left: 30;
  margin-right: 20px;
}
